@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  font-family: 'Chakra Petch', sans-serif;
  background-color: black;
  color: white;
}

::selection {
  background: #FFD700;
  color: black;
}